<div class="domains">
  <div class="col-xs-12 col-sm-8 text-left">
    <%= link_to('Alphabetical<span class="glyphicon glyphicon-sort-by-alphabet"></span>'.html_safe,{:action=>'index',:sort=>'alpha_sort_forward'},{:class=>'btn btn-primary',:id=>'alpha_sort_forward'})%>
    <%= link_to('Alphabetical<span class="glyphicon glyphicon-sort-by-alphabet-alt" style="font-size:1.2em"></span>'.html_safe,{:action=>'index',:sort=>'alpha_sort_backward'},{:class=>'btn btn-primary',:id=>'alpha_sort_backward'})%>
    <%= link_to('Purchase<span class="glyphicon glyphicon-arrow-down"></span>'.html_safe,{:action=>'index',:sort=>'newest_purchase'},{:class=>'btn btn-primary',:id=>'newest_purchase'})%>
    <%= link_to('Purchase<span class="glyphicon glyphicon-arrow-up"></span>'.html_safe,{:action=>'index',:sort=>'oldest_purchase'},{:class=>'btn btn-primary',:id=>'oldest_purchase'})%>
    <%= link_to('Expiring<span class="glyphicon glyphicon-arrow-down"></span>'.html_safe,{:action=>'index',:sort=>'expiring_soon'},{:class=>'btn btn-primary',:id=>'expiring_soon'})%>
    <%= link_to('Expiring<span class="glyphicon glyphicon-arrow-up"></span>'.html_safe,{:action=>'index',:sort=>'expiring_later'},{:class=>'btn btn-primary',:id=>'expiring_later'})%>
  </div>
  <div class="col-xs-12 col-sm-4 text-right">
    <%= link_to('<span class="glyphicon glyphicon-plus"></span> Domain'.html_safe,{:action=>'new'},{:class=>'btn btn-primary'})%>
  </div>
  <div class="col-xs-12" style="margin-top: .9em;">
    
  <% loop do %>
  <% y=0 %>
  <span class="hidden" id="<%= @table_num%>">
  <table  class="table table-responsive table-striped table-bordered">
    <tr>
    <td><small>Domain</small></td>
    <td class="hidden-xs"><small>Owner</small></td>
    <td class="hidden-xs"><small>Project</small></td>
    <td class="hidden-xs"><small>Purchase Date</small></td>
    <td class="hidden-xs"><small>Expiration Date</small></td>
    <td class="hidden-xs"><small>Redirect</small></td>
    <td class="hidden-xs"><small>Redirect URL</small></td>
    <td class="hidden-xs"><small>Notes</small></td>
    <td><small>Tools</small></td>
    </tr>
    <% while @x<@domains.size && y<@table_size %>
      <tr>
        <td><a href="http://www.<%= @domains[@x].domain_name%>"><%= @domains[@x].domain_name%></a></td>
        <td class="hidden-xs"><%= @domains[@x].owner%></td>
        <td class="hidden-xs"><%= @domains[@x].project_name%></td>
        <td class="hidden-xs"><%= @domains[@x].purchased_date%></td>
        <td class="hidden-xs"><%= @domains[@x].expiration_date%></td>
        <td class="hidden-xs"><% if @domains[@x].redirect=="1"%>
              <span class="glyphicon glyphicon-ok text-success"></span>
            <% elsif @domains[@x].redirect=="0" || @domains[@x].redirect==""%>
              <span class="glyphicon glyphicon-remove text-danger"></span>
              <%else%>
                <span class="glyphicon glyphicon-remove text-danger"></span>
            <%end%>
        </td>
        <td class="hidden-xs"><a href="<%= @domains[@x].redirect_url%>"><%= @domains[@x].redirect_url%></a></td>
        <td class="hidden-xs"><button type="button" class="btn btn-default" data-container="body" data-toggle="tooltip" data-placement="top" title="<%= @domains[@x].notes%>">
  <span class="glyphicon glyphicon-comment"></span>
</button></td>
      <td><%= link_to('<span class="text-success glyphicon glyphicon-pencil"></span>'.html_safe, {:action => 'edit', :id => @domains[@x].id})%> | <%= link_to('<span class="text-danger glyphicon glyphicon-remove"></span>'.html_safe, {:action => 'delete', :id => @domains[@x].id})%></td>
        <% @x+=1 %>
        <% y+=1 %>
      </tr>
      
    <% end %>
  </table>
  
  <% if @table_num>1 %>
  <div class="col-xs-2" style="margin-bottom: 2em"><button value="<%=@table_num-1%>" class="btn btn-primary back"><h3><span class="glyphicon glyphicon-circle-arrow-left"></span></h3></button></div>
  <% else %>
    <div class="col-xs-2" style="margin-bottom: 2em"></div>
  <%end%>
  
  
  <% if @x==@domains.size %>
    <% @tables=false%>
  <%else%>
      <% @tables=true%>
      
      <div class="col-xs-2 col-xs-offset-8" style="margin-bottom: 2em"><button value="<%=@table_num+1%>" class="btn btn-primary next"><h3><span class="glyphicon glyphicon-circle-arrow-right"></span></h3></button></div>
  <%end%>
  </span>
  <% @table_num+=1 %>
  <% break if @tables==false %>
  <% end %>
  
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#<%=@sort%>').addClass('disabled')
  })
</script>
