<!DOCTYPE html>
<html>
<head>
  <title>Dory - P. Sherman 42 Wallaby Way, Sydney</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <style>
    .content{
      margin-top: 5em;
    }
    
  </style>
</head>
<body>
  <div class="container">
<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to('Dory - A Domain Name Manager',{:action=>'index'},:class=>"navbar-brand")%>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li id="home"><%= link_to('Home',{:action=>'index'})%></li>
            <li id="contact"><a href="http://martin-calvert.com">Contact Me</a></li>
          </ul>
          <form class="navbar-form navbar-left" id="search" role="search">
  <div class="form-group">
    <input type="text" id="criteria" name="criteria" class="form-control" placeholder="Search">
  </div>
  <span id="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></span>
</form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class="container text-center content">
  <% if !flash[:notice].blank? %>
      <div class="notice col-xs-10 col-xs-offset-1">
        <div class="alert alert-success" style="margin-top: 1em; margin-bottom: 1em;" id="alert"><%= flash[:notice] %>
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
      </div>
    <% end %>
    
<%= yield %>
</div>
<script>
  $('#alert').alert()
  $("[data-toggle=tooltip]")
.tooltip({html:true});
$(document).ready(function(){
  $("#1").removeClass("hidden");
})
$(".next").click(function(){
  var value=$(this).val()
  $('#'+(parseInt(value)-1)).addClass("hidden")
  $('#'+value).removeClass("hidden")
})
$(".back").click(function(){
  var value=$(this).val()
  $('#'+(parseInt(value)+1)).addClass("hidden")
  $('#'+value).removeClass("hidden")
})
$("#submit").click(function(){
  window.location="../domain/search?"+$("#search").serialize()
})
</script>
</body>
</html>
